@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --white-text-color: #FFFFFF;
    --red-text-color: #F40106;
    --grey-text-color: rgba(34, 35, 35, 0.46);
    --black-color: #222323;
    --red-back-color:#d60307;
}

img {
    display: block;
}

h4 {
    color: var(--grey-text-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    font-weight: 400;
}