@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');
 
:root {
  font-family: 'Bebas Neue', sans-serif;
  --light-color: #FFFFFF;
  --dark-color: #222222;
  --accent-signal-color: #FF0000;
  --accent-text-color: #F40106;
  --accent-back-color:#d60307;
  --secondary-text-color: rgba(33, 33, 33, 0.5);
	--line:#e0e0e0;
	--gray-color:#717474;
}

<<<<<<< HEAD
/*.base__container */
[class*="__container"] {
=======
img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

.base__container {
>>>>>>> 1c46831c31c402c69b658a4dcb1f04aba94c64cc
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .base__span {
    color: var(--accent-text-color);
}

