section.footer__container {
    border: 1px red solid;
    font-family: 'Bebas Neue', sans-serif;
}
.footer__container__top {
    background-image: url(../img/footer-background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__top__inside__first-order {
    display: flex;
    flex-direction: row;
}

.footer__ten__procent {
    color: var(--accent-signal-color);
    width: bold;
    font-size: 21px;
}
.first-order__text {
    width: bold;
    font-size: 14px;
}

.container__top__inside__form {
    padding: 20px 40px;
}

.footer__container__middle {
    border: 1px white solid;
    background-color: var(--black-color);
    color: var(--white-text-color);
    display: flex;
    flex-direction: row;
    padding: 70px 100px;   
}

.footer__container__bottom {
    background-color: var(--black-color);
    color: var(--white-text-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 25px 0px 25px 0px;
    
}

.footer__logo {
    width: 25%;
    display: inline-block;
}

.footer__logo__text {
    color: gainsboro;
}

.navigation__link {
    display: flex;
    flex-direction: column;
}
