h1 {
    text-transform: uppercase;
    color: var(--black-color);
    font-size: 124px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

h6, .header__contact {
    color: var(--white-text-color);
    font-size: 14px;
    font-family "PT Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 5px 10px 0px 5px;
    display: block;
}

.header__contact:hover {
    text-decoration: underline;
}

.header__logo {
    margin: 20px;
}

.header__link {
    color: var(--white-text-color);
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 12.5px 20px;
    display: block;
}

.header__social {
    margin: 12px;
}