.deal__container{
    display: flex;
}
.deal__content{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;
    flex-wrap: wrap;
    padding: 0 20px;
    background-color: var(--dark-color);
}
.deal__title{ 
    font-size: 124px;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color:var(--light-color);
    font-weight: 400;
    max-width: 462px;
    line-height: 1;
    padding: 0 0 20px 0;
}
@media(max-width:960px){ 
    .deal__title{ 
        font-size: 93px;
    }
}
.title-dot{ 
    color: var(--accent-text-color);
}
.deal__text-price{ 
    font-size: 16px;
    color:var(--light-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 27.2px;
    padding: 0 0 25px 0;
    font-family:"PT Sans", sans-serif;
}
.deal-price{ 
    color: var(--accent-text-color);
    font-size: 42px;
    line-height: 71px;
    padding: 0 5px 0 0;
}
.deal__crossed-out{ 
    font-size: 23px;
}
.deal__text{ 
    font-size: 20px;
    color: var(--light-color);
    line-height: 30px;
    font-weight: 500;
    padding: 0 0 47px 0;
    font-family:"PT Sans", sans-serif;
}
.deal__link{ 
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    text-decoration: none;
    color: var(--light-color);
    display: inline-block;
    padding: 0 0 43px 0;
    font-family:"PT Sans", sans-serif;
}
.deal-arrow{ 
    background: url(../img/deal-of-the-month/Arrow.svg) right no-repeat;
    padding: 0 25px 0 0;
}
.deal__countdown{ 
    display: flex;
    padding: 0 20px 0 0;
    flex-wrap: wrap;
}
.countdown{ 
    border: 1px solid #7f7e7e;
    padding: 19px 23px;
    border-radius: 6px;
}
.countdown:not(:last-child){ 
    margin: 0 27px 0 0;
}
.countdown:first-child{ 
    padding:22px 31px;
}
.countdown:nth-child(2){ 
    padding:17px 29px;
}
.item{ 
    color:var(--light-color);
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
.count{ 
    color: var(--light-color);
    font-size: 14px;
    text-align: center;
    opacity:50%;
    font-family:"PT Sans", sans-serif;
}
.deal__image {
    flex: 0 1 50%;
    overflow: hidden;
}
.deal__image img{ 
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: center calc(50% + 10px) */
}
@media(max-width:660px){ 
    .deal__container{ 
        display: flex;
        flex-direction: column;
    }
    .deal__image img{ 
        object-position: center;
        object-fit: center;
        height: auto;
        width: 100%;
    }
    .deal__content{ 
        flex: 0 1 100%;
        padding: 100px 30px;
    }
    .deal__title{ 
        font-size: 62px;
    }
}
