.about-description {
    background-color: var(--black-color);
    padding: 120px 30px 120px 30px;
}

.about__h2 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 400;
    color: var(--white-text-color);
}

.about__h2-red {
    color: var(--red-text-color);
    background-color: rgba(0,0,0,0);
}

.about__divider {
    background-color: rgb(255, 0, 0);
    height: 2px;
    width: 16%;
}

.about__h5 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: var(--white-text-color);
}

.about__p {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: var(--white-text-color);
}

.about__social {
    margin: auto;
    margin-right: 0;
    text-align: right;
    height: 30px;
    background-color: var(--accent-text-color);
}