@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap");





/*Start of Олександр ALEKS code*/
/*End of Олександр ALEKS code*/

/*Start of WhyChoseUs+AboutUs*/
/*End of WhyChoseUs+AboutUs*/

/*Start of MidSeasonSale Olga Bondarenko*/
/*End of MidSeasonSale Olga Bondarenko*/

/*Start of Discount */
/*End of Discounr*/

/*Start of Main Collection Koval*/
.__conteiner{
max-width: 1200px;
padding: 0px 15px;
margin: 0 auto;
}
.main-collection__about {
		padding: 90px 0px 120px 0px;
}
.main-collection__title {
	text-align: center;
}
.text {
}
.text__title {
	font-size: 52px;
	line-height: 55px;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	
}
.text__title::after{
	content: "";
	display: inline-block;
	right: 0;
	bottom: 0;
	width: 5px;
	height: 5px;
	background-color: red;
	margin: 0px 0px 0px 3px;
}
.text__line{
display: inline-block;
width: 90px;
height: 3px;
background-color: #e0e0e0;
margin: 0px 0px 0px 0px;
}
.text__subtitle {
	font-size: 20px;
	color: #717474;
	font-family: 'PT Sans';
}




.main-collection{
	border: 2px solid black;
}
.card__img img{
	width: 200px;
}
/*End of Main Collection Koval*/

/*Start of Deal of the month */
/*End of Deal of the month */

/*Start of New Arrivals */
/*End of New Arrivals */

/*Start of Footer*/
/*End of Footer*/